.locker-mat-form {
  &__title {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 1rem;
  }

  &__input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
  }
}