version: "2.4"
services:
  db:
    container_name: lockermat-local-postgres
    build:
      context: .
      dockerfile: Dockerfile.postgres
    environment:
      POSTGRES_USER:      admin
      POSTGRES_PASSWORD:  admin
      POSTGRES_DB:        lockermat
    ports:
      - "5433:5432"
# uncomment to persist data after container is deleted
#    volumes:
#      - ./.pg_local_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d lockermat"]
      interval: 3s
      timeout: 5s
      retries: 5
  app:
    container_name: lockermat-local-backend
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/lockermat
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin
    volumes:
      - ./:/opt/lockermat
# optional mount for local Maven repository to achieve faster builds
      - ${HOME}/.m2:/root/.m2