.points {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
  }

  &__search {
    flex: 1;
    min-width: 400px;
  }

  &__map {
    flex: 3;
    min-width: 500px;
    max-height: 400px;
    overflow: hidden;
    margin-top: 24px;
  }

  &__separator {
    margin: 2rem 0;
    height: 1px;
    background-color: #ccc;
  }

  &__bottom {
    width: 100%;
  }

  @media (max-width: 1200px) {
    &__top {
      flex-direction: column;
    }

    &__search,
    &__map {
      width: 100%;
      min-width: unset;
    }
  }
}
