.failed-popup {
  padding: 20px;
  background-color: #ffe6e6;
  border-radius: 8px;
  text-align: center;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #dc3545;
  }

  &__message {
    margin-bottom: 20px;
    font-size: 1rem;
  }

  &__button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
  }

  &__button:hover {
    background-color: #c82333;
  }
}
