.confirm-popup {
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 8px;
  text-align: center;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #007bff;
  }

  &__message {
    margin-bottom: 20px;
    font-size: 1rem;
  }

  &__button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
  }

  &__button:hover {
    background-color: #0056b3;
  }
}
