server:
  address: 0.0.0.0
  port: '8080'

spring:
  threads.virtual.enabled: true
  security.oauth2.resourceserver.jwt.issuer-uri: http://lockermat-local-keycloak:8080/realms/lockermat
  datasource:
    driver-class-name: org.postgresql.Driver
    username: admin
    url: jdbc:postgresql://localhost:5434/lockermat
    password: admin
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  jpa:
    properties.hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
      query.fail_on_pagination_over_collection_fetch: 'true'
    hibernate:
      naming:
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
        physical-strategy: com.lockermat.model.UnderscorePhysicalNamingStrategy
      dialect: org.hibernate.spatial.dialect.postgis.PostgisDialect
      ddl-auto: validate
  sql.init.platform: postgres

springdoc:
  api-docs.version: openapi_3_1
  use-fqn: true

logging:
  level:
    org.springframework.security: DEBUG